<div class="form">
   <div class="group">      
      <input type="text" required [(ngModel)]="title">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Title</label>
    </div>
  <div class="group">      
      <input type="text" required [(ngModel)]="description">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Description</label>
    </div>
    <button class="btn" type="button" (click)="submit()"><span>Submit</span></button>
</div>
<div class="articles">
  <div>
  <div class="article" *ngFor="let article of articles">
    
      <div class="article-title" >
        <a [routerLink]="['./../article/',article._id]">{{article.title}}</a>
      </div>
      <div class="article-detail" >
        {{article.description}}
      </div>
  </div>
</div>
</div>
