<div class="form">
   <div class="group">      
      <input type="text" name="title" required [(ngModel)]="title" id="title">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label for="title">Title</label>
    </div>
  <div class="group">      
      <input type="text" name="description" required [(ngModel)]="description" id="description">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label for="description">Description</label>
    </div>
    <button class="btn" type="button" (click)="submit()"><span>Submit</span></button>
</div>
<div class="articles">
  <div>
  <div class="article" *ngFor="let article of articles">
    
      <div class="article-title" >
        <a [routerLink]="['./../article/',article._id]">{{article.title}}</a>
      </div>
      <div class="article-detail" >
        {{article.description}}
      </div>
  </div>
</div>
</div>
