<div class="form">
  <mat-form-field class="title">
    <input matInput placeholder="Title" [(ngModel)]="title">
  </mat-form-field>
  <mat-form-field class="description">
    <input matInput placeholder="Description" [(ngModel)]="description">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="submit()">Submit</button>
</div>
<div class="articles">
  <mat-list>
  <mat-list-item class="article" *ngFor="let article of articles">
    
      <div class="article-title" mat-line>
        <a [routerLink]="['./../article/',article._id]">{{article.title}}</a>
      </div>
      <div class="article-detail" mat-line>
        {{article.description}}
      </div>
  </mat-list-item>
  </mat-list>
</div>
