/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@include mat-core();
$digiOn-app-primary: mat-palette($mat-blue, 600);
$digiOn-app-accent: mat-palette($mat-green, A200, A100, A400);
$digiOn-app-warn: mat-palette($mat-red);
$digiOn-app-theme: mat-light-theme($digiOn-app-primary, $digiOn-app-accent, $digiOn-app-warn);
@include angular-material-theme($digiOn-app-theme);
// $digiOff-primary: mat-palette($mat-grey);
// $digiOff-accent : mat-palette($mat-blue-grey, A200, A100, A400);
// $digiOff-warn : mat-palette($mat-deep-orange);
// $digiOff-theme : mat-light-theme($digiOff-primary, $digiOff-accent, $digiOff-warn);
// .digiOff-theme {
//   background-color: #DCDCDC;
//   @include angular-material-theme($digiOff-theme);
// }
.mat-input-underline {
  border-color: black;
}

md-input-container.ng-invalid.ng-touched {
  .mat-input-underline {
    border-color: mat-color($mat-red, 500, 1);
  }
}

// site css
html {
  height: 100vh;
  width: 100vw;
  /*box-sizing: border-box;*/
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.load-container {
  position: relative;
  display: flex;
  height: 50vh;
  align-items: center;
  justify-content: center;
  .loader {
    border: 16px solid #1e88e5;
    border-top: 0;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

